{% extends 'public/base.html.twig' %}

{% block title %}All Cook: Connexion{% endblock %}

    {% block content %}
<main id="inscriptionForm">

        {% block image %}
            <section id="imgDefault">
                <div class="imgDefault">
                    <img src="{{ asset('assets/img/bc-home.jpg') }}" alt="">
                </div>
            </section>
        {% endblock image %}
        <section class="login">



            <h4>Connexion</h4>

            <section class="connexion">
                <form method="post">
                    {% if error %}
                        <p>L'email ou le mot de passe semble incorrect.</p>
                       {#  <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
                    {% endif %}

                    {#{% if app.user %}
                        <p><a href="{{ path('app_logout') }}">Logout</a></p>
                         <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                    {% endif %}#}


                    <div class="inputWrapper">
                        <input type="email" value="{{ last_username }}" name="_username" placeholder=" " id="username" class="form-control" autocomplete="email" required autofocus>
                        <label for="username">Email</label>
                    </div>
                    <div class="inputWrapper">
                        <input type="password" name="_password" placeholder=" " id="password" class="form-control" autocomplete="current-password" required>
                        <label for="password">Password</label>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <input type="checkbox" name="_remember_me" id="_remember_me">
                        <label for="_remember_me">Remember me</label>
                    </div>
                    #}

                    <div id="buttonSubmit">
                        <button class="btn btn-lg btn-primary" type="submit">
                            Se connecter
                        </button>
                    </div>
                </form>
            </section>



            <p>Pas encore de compte ? <a href="{{ path('add-user') }}">S'inscrire</a></p>
        </section>
</main>
        {% endblock content %}
