{% extends 'public/base.html.twig' %}
{% block title %}All Cook : {{ recipe.title }}{% endblock %}
{% block body %}
{% block content %}

    <main id="Recipe">

        {% block image %}
            <section id="imgRecipe">
                <div class="imgRecipe">
                    <img src="{{ asset('assets/uploads/'~recipe.image) }}" alt="Image {{ recipe.title }}">
                    <h2>{{ recipe.title }}</h2>
                </div>
            </section>
        {% endblock image %}


        <article>

            <section class="recette">

                <div class="ingredient">
                    <h4>Ingrédients</h4>

                    <ul>
                        {% for RecipeIngredient in recipe.recipeIngredients %}

                            <li class="ingredientList">
                                <span>{{ RecipeIngredient.ingredient.ingredient }}</span>
                                <span>{{ RecipeIngredient.quantity }} {{ RecipeIngredient.measure.name }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="step">
                    <h4>Préparation</h4>
                    <div>
                        <p class="préparation">{{ recipe.description | nl2br }}</p> {# nl2brFiltre sur chaine de caractère. conserve la forme lors de la saisie #}
                    </div>

                </div>

            </section>
            <p>Publié le : {{ recipe.publishedAt | date('d/m/y') }}</p>
        </article>

        <section class="myReviews">
            {% if app.user %}

                    <div class="imgReviews">
                        <div class="formReview">
                            <p>qu'as-tu pensé de la recette ?</p>
                            {{ form_start(reviewsForm) }}
                            {{ form_row(reviewsForm.text, {'label': false}) }}
                            {{ form_end(reviewsForm) }}
                        </div>
                         <img class="imgBlur" src="{{ asset('assets/uploads/'~recipe.image) }}" alt="Image {{ recipe.title }}">

                    </div>



            {% else %}
            {% endif %}
        </section>
        <section class="allReviews">
            <h4><p>Commentaires</p></h4>
            {% if reviews is not empty %}
                {% for review in reviews %}
                    <section id="review">
                            <div>
                                <p>{{ review.idUser.pseudo }}</p>
                                <p>{{ review.publishedAt |date('d/m/Y H:i') }}</p>
                            </div>
                            <div id="text">
                                <p>{{ review.text }}</p>
                            </div>
                    </section>
                {% endfor %}
            {% else %}
                <p>Aucun avis pour le moment...</p>
            {% endif %}
        </section>

    </main>

{% endblock content %}
{% endblock body %}
