{% extends 'public/base.html.twig' %}
{% block title %}All Cook : {{ recipe.title }}{% endblock %}
{% block body %}
{% block content %}

    <main id="Recipe">

        {% block image %}
            <section id="imgRecipe">
                <div class="imgRecipe">
                    <img src="{{ asset('assets/uploads/'~recipe.image) }}" alt="Image {{ recipe.title }}">
                    <h2>{{ recipe.title }}</h2>
                </div>
            </section>
        {% endblock image %}


        <article>

            <section>

                <div class="ingredient">
                    <h4>Ingrédients</h4>

                    <div>
                        {% for RecipeIngredient in recipe.recipeIngredients %}
                            <table>
                                <tr>
                                    <td>{{ RecipeIngredient.ingredient.ingredient }}</td>
                                    <td>{{ RecipeIngredient.quantity }}</td>
                                    <td>{{ RecipeIngredient.measure.name }}</td>
                                </tr>
                            </table>




                        {% endfor %}
                    </div>
                </div>

                <div class="step">
                    <h4>Préparation</h4>
                    <div>
                        <p>{{ recipe.description }}</p>
                    </div>

                </div>

            </section>
            <p>Publié le : {{ recipe.publishedAt | date('d/m/y') }}</p>
        </article>

    </main>

{% endblock content %}
{% endblock body %}
