{% extends 'public/base.html.twig' %}
{% block title %}All Cook : {{ recipe.title }}{% endblock %}
{% block body %}
{% block content %}

    <main id="Recipe">

        {% block image %}
            <section id="imgRecipe">
                <div class="imgRecipe">
                    <img src="{{ asset('assets/uploads/'~recipe.image) }}" alt="Image {{ recipe.title }}">
                    <h2>{{ recipe.title }}</h2>
                </div>
            </section>
        {% endblock image %}


        <article>

            <section class="recette">

                <div class="ingredient">
                    <h4>Ingrédients</h4>

                    <div>
                        {% for RecipeIngredient in recipe.recipeIngredients %}
                            <table>
                                <tr>
                                    <td>{{ RecipeIngredient.ingredient.ingredient }}</td>
                                    <td>{{ RecipeIngredient.quantity }}</td>
                                    <td>{{ RecipeIngredient.measure.name }}</td>
                                </tr>
                            </table>




                        {% endfor %}
                    </div>
                </div>

                <div class="step">
                    <h4>Préparation</h4>
                    <div>
                        <p>{{ recipe.description }}</p>
                    </div>

                </div>

            </section>
            <p>Publié le : {{ recipe.publishedAt | date('d/m/y') }}</p>
        </article>

        <section class="myReviews">
            {% if app.user %}

                    <div class="imgReviews">
                        <div class="formReview">
                            <p>qu'as-tu pensé de la recette ?</p>
                            {{ form_start(reviewsForm) }}
                            {{ form_row(reviewsForm.text, {'label': false}) }}
                            {{ form_end(reviewsForm) }}
                        </div>
                         <img class="imgBlur" src="{{ asset('assets/uploads/'~recipe.image) }}" alt="Image {{ recipe.title }}">

                    </div>



            {% else %}
            {% endif %}
        </section>
        <section>
            {% if reviews is not empty %}
                {% for review in reviews %}
                    <p>{{ review.user.pseudo }}</p>
                    <p>le : {{ review.createdAt |date('d/m/Y H:i') }}</p>
                    <p>{{ review.text }}</p>
                {% endfor %}
            {% else %}
                <p>Aucun avis pour le moment...</p>
            {% endif %}
        </section>

    </main>

{% endblock content %}
{% endblock body %}
