{% extends 'admin/base.admin.html.twig' %}

{% block content %}
    <h1>Liste  des recettes</h1>
    <button><a href="{{ path('admin_recipe_add') }}">Ajouter une recette</a></button>
    <table>
            <tr>
                <td>ID</td>
                <td>Titre</td>
                <td>Image</td>
                <td>Date publication</td>
                <td>Modification</td>
            </tr>

        {% for recipe in recipes %}
            <tr>
                <td><p>{{ recipe.id }}</p></td>
                <td><h2>{{ recipe.title }}</h2></td>
                <td><img src="{{ recipe.image }}" alt=""></td>
                <td>{{ recipe.publishedAt | date('d/m/y') }}</td>
                <td>
                    <p><a href="{{ path('admin_recipe_edit', {id: recipe.id}) }}">Modifier</a></p>
                    <p><a href="{{ path('admin_recipe_delete',{id: recipe.id}) }}">Supprimer</a></p>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}