{% extends 'admin/base.admin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.min.css">
{% endblock %}
{% block content %}
    <main>
        <h3>Liste  des recettes</h3>
        <button><a href="{{ path('admin_recipe_add') }}">Ajouter une recette</a></button>
        <button><a href="{{ path('admin_category') }}">Gérer les categories</a></button>
        <button><a href="{{ path('admin_ingredients') }}">Gérer les ingrédients</a></button>
        <section class="tableCenter">

            <table id="myTable">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Titre</td>
                         <td>Image</td>
                        <td>Date publication</td>
                        <td>Modification</td>
                    </tr>
                </thead>
                    <tbody>
                    {% for recipe in recipes %}

                        <tr>
                            <td><p>{{ recipe.id }}</p></td>
                            <td class="widthTD"><h4>{{ recipe.title }}</h4></td>
                             <td class="widthTD"><div class="imgList">
                                     <img src="{{ asset('assets/uploads/'~recipe.image) }}" alt="">
                                 </div></td>
                            <td class="widthTD">{{ recipe.publishedAt | date('d/m/y') }}</td>
                            <td class="widthTD">
                                <p><a href="{{ path('admin_recipe_edit', {id: recipe.id}) }}"><i class="fa-solid fa-pen"></i></a></p>
                                 <p class="jsDeleteButton"><i class="fa-solid fa-trash-can"></i></p>
                                <div class="jsDelete">
                                    <p>Voulez vous vraiment supprimer l'article ?</p>
                                    <p><a href="{{ path('admin_recipe_delete',{id: recipe.id}) }}">Supprimer</a></p>
                                </div>

                            </td>
                        </tr>
                {% endfor %}

                    </tbody>
            </table>
        </section>
    </main>
{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.1.4/js/dataTables.min.js"></script>

{% endblock %}