{% extends 'admin/base.admin.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.min.css">
{% endblock %}
{% block content %}
    <h3>Liste des Administrateurs</h3>
    <div class="buttonGestion">
        <button><a href="{{ path('add-admin') }}">Add an admin</a></button>
    </div>
    <section class="tableCenter">


        <table id="myTable">
            <thead>
                <tr>
                    <td>Pseudo</td>
                    <td>Mail</td>
                     <td>Rôle</td>
                    <td>Gestion</td>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.pseudo }}</td>
                    <td>{{ user.email }}</td>
                     <td>
                         {% if 'ROLE_ADMIN' in user.roles %}
                             <p>Admin</p>
                         {% elseif 'ROLE_USER' in user.roles %}
                             <p>User</p>
                         {% endif %}
                     </td>
                    <td>
                        <p><a href="{{ path('edit-admin', { id: user.id }) }}"><i class="fa-solid fa-pen"></i></a></p>
                        <p class="jsDeleteButton"><i class="fa-solid fa-trash-can"></i></p>
                        <div class="jsDelete">
                            <h4>Voulez vous vraiment supprimer l'utilisateur ?</h4>
                            <div class="flexButton">
                                <p><a href="{{ path('admin_delete_user',{id: user.id}) }}">Supprimer</a></p>
                                <p><a href="{{ path('admin_list') }}">Annuler</a></p>
                            </div>
                        </div>

                    </td>

                </tr>
            {% endfor %}
            </tbody>


        </table>
    </section>

{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.1.4/js/dataTables.min.js"></script>

{% endblock %}