{% extends 'admin/base.admin.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.min.css">
{% endblock %}
{% dump ingredients %}
{% block content %}

    <h3>Liste des ingrédients disponibles.</h3>
    <div class="buttonGestion">
        <button><a href="{{ path('admin_ingredients_add') }}">Ajouter un ingredient</a></button>
        <button><a href="{{ path('admin_measure') }}">Gérer les mesures</a></button>
    </div>
    <section class="tableCenter">


        <table id="myTable">
            <thead>
                <tr>
                    <td>Nom</td>
                    <td>Gérer</td>
                </tr>
            </thead>
            {% for ingredient in ingredients %}
                <tbody>

                       <tr>
                           <td> <p>{{ ingredient.ingredient }}</p></td>
                           <td>
                               <p><a href="{{ path('admin_ingredients_update',{id: ingredient.id}) }}"><i class="fa-solid fa-pen"></i></a></p>
                               <p class="jsDeleteButton"><i class="fa-solid fa-trash-can"></i></p>
                               <div class="overlay">
                                   <div class="jsDelete">
                                       <h4>Voulez vous vraiment supprimer l'ingrédient ?</h4>
                                       <div class="flexButton">
                                           <p><a href="{{ path('admin_ingredients_delete',{id: ingredient.id}) }}">Supprimer</a></p>
                                           <p><a href="{{ path('admin_ingredients') }}">Annuler</a></p>
                                       </div>
                                   </div>
                               </div>
                           </td>

                       </tr>

                </tbody>
            {% endfor %}
        </table>

    </section>
{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/2.1.4/js/dataTables.min.js"></script>

{% endblock %}