<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" >
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/owl.carousel.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/owl.theme.default.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/styles/app.css') }}">
        {% block stylesheets %}
        {% endblock %}


    </head>

    <body>



        <header>
            <nav>
                <ul>
                    <li><a href="{{ path('recipe-list') }}">Recettes</a>
                        <ul class="ulNone">
                            <li><a href="{{ path('recipe-list') }}">Les recettes</a></li>
                            <li><a href="{{ path('recipe-salted') }}">Recettes salées</a></li>
                            <li><a href="{{ path('recipe-sweet') }}">Recettes sucrées</a></li>
                        </ul>
                    </li>
                    <li><a href="">Tutoriel</a></li>
                    <li><a href="">Articles</a></li>
                    {% if app.user %}
                        <li><a href=""> <i class="fa-solid fa-user"> </i> {{ app.user.pseudo }}</a>
                            <ul class="ulNoneConnected">
                                <li><a href="{{ path('app_logout') }}">Se déconnecter</a></li>
                                <li><a href="{{ path('edit-user') }}">Modification compte</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                    {% endif %}

                </ul>

            </nav>

        </header>

    {% for message in app.flashes('success') %}
        <div class="success_message">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="error_message">
            {{ message }}
        </div>
    {% endfor %}

        {% block content %}
            {% block image %}
                <img src="{{ asset('assets/img/bc-home.jpg') }}" alt="">
            {% endblock image %}
        {% endblock %}

        <footer>
            <nav>
                <ul>
                    <li><a href="">BOUTIQUE</a></li>
                    <li><a href="">À PROPOS</a></li>
                    <li><a href="">NOUS CONTACTER</a></li>
                </ul>
                <ul>
                    <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="https://www.tiktok.com/fr/"><i class="fa-brands fa-tiktok"></i></a></li>
                </ul>
            </nav>
        </footer>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock %}
    </body>


</html>
