{% extends 'public/base.html.twig' %}
{% block title %}All Cook : Home{% endblock %}

{% block content %}

    <main id="home">
        {% block image %}
            <section id="imgDefault">
                <div class="imgDefault">
                    <img src="{{ asset('assets/img/bc-home.jpg') }}" alt="">
                </div>
            </section>
        {% endblock image %}

        <h2>choisir un titre </h2>
            <section class="carousel">
                {% if randomRecipes is not empty %}
                <div class="owl-carousel owl-theme">
                    {% for recipe in randomRecipes %}
                        <a href="{{ path('recipe',{id:recipe.id}) }}">
                            <div class="item eachImg">
                                <img src="{{ asset('assets/uploads/'~recipe.image) }}" alt="">
                            </div>
                        </a>
                    {% endfor %}
                </div>
                {% endif %}
            </section>

            <section class="lastRecipe">
                <h2>Notre dernière recette</h2>
                <a href="{{ path('recipe',{id:lastRecipe.id}) }}">
                    <div class="lastRecipeImg">
                        <img src="{{ asset('assets/uploads/'~lastRecipe.image) }}" alt="">
                        <h3 class="lastRecipeTitle">{{ lastRecipe.title }}</h3>
                    </div>
                </a>
            </section>
    </main>

{% endblock content %}

{% block javascript %}
<script src="{{ asset('assets/js/owl.carousel.js') }}"></script>
<script>

    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:25,
        nav:true,
        autoplay:true,
        autoplayTimeout:2000,
        autoplayHoverPause:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:3
            }
        }
    })
</script>
{% endblock %}
